.diet-cards {
  display: flex;
  justify-content: center; /* Center the carousel itself */
  align-items: center;
}

.diet-plan {
  border-radius: 35px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, .6);
  padding: 20px;
  margin: 10px;
  margin-bottom: 10%;
  width: 200px; 
  height: 350px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for zoom and shadow */
  position: relative; /* To position overlay text correctly */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the text */
  align-items: center; /* Horizontally center the text */
  text-align: center; 
}

@media (max-width: 768px) {
  .diet-plan {
    width: 300px; 
    height: 400px; /* Adjust width as needed to fit nicely */
  }
}

.diet-plan:hover {
  transform: scale(1.05); /* Slight zoom effect */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.diet-plan h2,
.diet-plan p {
  color: white;
  font-weight: 700;
  align-items: center;
}

.diet-plan h2 {
  margin-top: 100%;
  font-size: 18px;
  margin-bottom: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
}

.diet-plan p {
  font-size: 14px;
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
}
