/* General container for centering button and other content */
.calorie-calculator-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* background-color: #f4f4f4; */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.calcCalHeader {
  display: flex;
  justify-content: start; /* Align items horizontally */
  align-items: start; 
  padding: 1rem; /* Add padding for spacing */
}
.back-button{
  display: flex;
  align-items: start;
  margin:auto;
}

/* Button Styling */
button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px 16px;
  border: none;
  border-radius: 50px;
  color: #fff;
  background: linear-gradient(45deg, rgb(132, 0, 234), rgb(155, 50, 255), rgb(180, 100, 255));
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  transform: scale(1.1);
  background: linear-gradient(45deg, rgb(155, 50, 255), rgb(180, 100, 255), rgb(200, 150, 255));
  
}

/* Additional styles */
.hidden {
  display: none;
}

.question-container {
  margin-bottom: 10px;
  animation: fadeIn 0.5s ease-out;
}

input, select {
  margin-top: 10px;
  padding: 10px;
  margin:10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus, select:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

/* Results Section */
.results-container {
  padding: 20px;
  text-align: center;
}

.results-container h2 {
  font-size: 26px;
  color: #333;
}

.results-container .result-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.results-container .result-item .value {
  font-weight: bold;
}
