/* WorkoutPlanDetails.css */

.PlanDetails {
  margin-top:20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* Space between elements */
}

.step-button {
  background-color: rgb(171, 114, 215); /* Green background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding for the button */
  border: none; /* Remove border */
  border-radius: 15px; /* Border radius of 15px */
  cursor: pointer; /* Pointer cursor on hover */
  text-align: center; /* Center the text */
  margin: 5px; /* Margin around each step */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.step-button:hover {
  background-color: rgb(132, 0, 234); /* Darker green on hover */
}

.step-button.active {
  background-color: rgb(132, 0, 234) !important;
   /* Blue background for active step */
}

.workout-plan-container {
  flex: 1 1 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.day-details {
  flex: 1 1 calc(50% - 20px); /* 50% width minus gap */
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.day-details h2 {
  margin-top: 0;
  font-size: 1.5em;
  color: #333;
}

.day-details .workout-box {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.day-details .workout-box h3 {
  margin-top: 0;
  font-size: 1.2em;
  color: #444;
}

.day-details .workout-box p {
  margin: 10px 0;
  color: #555;
}

.day-details .workout-box img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}

.day-details .workout-box ol {
  margin-left: 20px;
  color: #555;
}

.day-details .workout-box li {
  margin-bottom: 10px;
}

.day-details ul {
  list-style-type: disc;
}

.day-details ol {
  list-style-type: decimal;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .PlanDetails {
    flex-direction: column;
  }

  .day-details {
    flex: 1 1 100%; /* Full width on smaller screens */
  }
}
b{
  color: rgb(132, 0, 234) !important;
}

.back-to-top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.stepper-container {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent text wrapping */
  padding: 10px;
  display: flex; /* Ensure container respects flex items */
}

.MuiStepper-root {
  display: flex; /* Ensure the stepper is displayed as flex items */
  align-items: center; /* Center items vertically */
  flex-wrap: nowrap; /* Prevent wrapping of steps */
}
.MuiStep-root {
  flex: 1 0 auto; /* Flex items should grow as needed */
  min-width: 100px; /* Set minimum width for each step */
  overflow: hidden; /* Hide overflowed text */
  text-align: center; /* Center text */
}
.step-button {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 10px;
}