.header {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between; /* Align items to left and right */
  align-items: center; /* Center items vertically */
  padding: 10px;
  max-width: 100%;
  box-sizing: border-box;
}

.navbar .logo-container {
  flex: 1; /* Pushes the logo to the left */
  margin-right: 1rem; /* Add space between logo and nav links */
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: rgb(0, 0, 0); /* Override global link color */
  text-decoration: none;
  font-weight: 700;
}

.navbar a:hover {
  color: #444444; /* Override hover color */
}
.custom-text {
  color: rgb(132, 0, 234) !important;
  font-weight: 800 !important;
  font-size: 1.5rem !important; /* Adjust the value as needed */
  margin: 0;
  
}

body {
  margin: 0;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
