
.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-style: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: rgb(0, 0, 0); /* Override global link color */
  text-decoration: none;
  font-weight: 500;
  font-style:bold;
}

.navbar a:hover {
  color: #ddd; /* Override hover color */
}

.header {
  width: 100%; /* Ensure header takes full width */
}

body {
  margin: 0;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  }
